#img_container {
    width: 100vw;
    height: 80vh;
}

#imagen{
    width: 100vw;
    height: 80vh;
    image-rendering: optimizeQuality;
}

#prev:hover {
    background-color: black;
    opacity: 0.2;
}

#next:hover {
    background-color: black;
    opacity: 0.2;
}
footer {
    width: 100vw;
    height: 30vh;
    background-color: black;
    h2{
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        color: white;
    }
    h2:hover{
        text-decoration: underline;
    }
}